.checkPrize{
	width: 14em;
	height: 3em;
	border-radius: 1.5em;
	background-color: rgb(240,180,77);
	border-width: 0px;
	color: red;
	display: block;
	margin:0.3rem auto;
}

.mbm2Title{
	font-size: 2em;
	margin-bottom: 1em;
}

.yanzhengmaBtn{
	font-size: 10px;
    height: 2.5em;
    width: 6em;
    border-radius: 1.5em;
    position: absolute;
    right: 0.25rem;
    border-width: 0px;
    top: 0.5em;
    color: white;
    background-color: rgb(253,173,68);
}

.prizeItem p{
	margin-top: 0.1rem;
}

.prizeItem{
	font-size: 0.255rem;
    text-align: left;
    margin: 0.15rem auto;
    width: 60%;
    color: white;
}
.prizeItem button{
	display: inline-block;
	color: red;
	background-color: rgb(255,234,183);
	width: 1.3rem;
	height: 2em;
	border-radius: 2em;
	top: -0.7em;
    left: 1em;
    position: relative;
}
.bottomLine{
	width: 60%;
	height: 1px;
	margin:0.2em auto ;

	border-bottom: 1px solid white;
}
.bottomDashed{
	width: 60%;
	height: 1px;
	margin:0.4rem auto ;

	border-bottom: 1px dashed white;
}

.inputGroup{
	font-size: 0.3em;
	height: 40px;
	margin-top:1.5em;
}
.telephoneDiv{
	display: inline-block;
    border: 1px solid black;
    width: 4em;
    height: 40px;
    border-top-left-radius: 0.3em;
    border-bottom-left-radius: 0.3em;
    text-align: center;
    color: white;
    background-color: rgb(239,176,73);
    vertical-align:top;

}

.telephoneDiv p{
	margin-top: 0.7em;
}

.loginNow{
	margin-top: -1em;
	background-color: rgb(239,176,73);
	color: white;
	height: 3em;
	width: 8em;
	border-radius: 3em;
	border-width: 0px;
}

.inputGroup input{
	vertical-align:top;
	height: 40px;
    width: 12em;
    margin-left: -5px;
    border: solid 1px black;
    border-top-right-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
}










/*以下去年的*/

.page {
	background: url(../img/bg2019.png) no-repeat;
	background-size: 100% 100%;
	/*overflow: hidden;*/
	position: relative;
	width: 100%;
	height: 11.06rem;
	min-height: 100%;
	text-align: center;
	font-family: "微软雅黑";
	top: 0;
	left: 0;
	/*z-index: -2;*/
}

header span {
	z-index: 1;
}

body {
	text-align: center;
	font-family: "微软雅黑";
}

.close {
	border: 2px solid white;
	width: .6rem;
	height: .6rem;
	color: white;
	position: absolute;
	right: 11%;
	top: 20%;
	z-index: 100;
	border-radius: 50%;
	font-size: .5rem;
	line-height: .55rem;
	text-align: center;
}

.close11 {
	border: 2px solid white;
	width: .6rem;
	height: .6rem;
	color: white;
	position: absolute;
	right: 11%;
	top: 16%;
	z-index: 100;
	border-radius: 50%;
	font-size: .5rem;
	line-height: .55rem;
	text-align: center;
}


/*弹窗*/

.modal {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	overflow: hidden;
	z-index: 500;
}

.bgcolor {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .7);
	position: absolute;
	top: 0;
	overflow: hidden;
}

.modalBg {
	width: 6rem;
	height: 3.5rem;
	background-color: rgba(0, 0, 0, .9);
	background-size: 100% 100%;
	overflow: hidden;
	position: relative;
	left: .75rem;
	top: 4.5rem;
	padding-top: 1rem;
	color: white;
	font-size: .5rem;
}

.modalBg1 {
	width: 7.6rem;
	height:11.8rem;
	background: url(../img/alertBg.png) no-repeat;
	background-size: 100% 100%;
	position: absolute;
	/*top: 2rem;
	left: .95rem;*/
}

.modalBg3 {
	width: 5.6rem;
	height:10.6rem;
	background: url(../img/kuang2.png) no-repeat;
	background-size: 100% 100%;
	position: absolute;
	top: .6rem;
	left: .95rem;
}


.pitch2 {
	width: 100%;
	height: 95%;
	overflow: hidden;
	position: relative;
	padding-top: 55%;
}

.gz_bg {
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0 auto;
}

.gz_bg span {
	color: black;
	font-size: .3rem;
	font-family: "微软雅黑";
	font-weight: 700;
	position: relative;
}

.gz_bg .list {
	width: 90%;
	height: 100%;
	margin: auto;
	overflow: auto;
	color: black;
	text-align: justify;
}

.gz_bg .list::-webkit-scrollbar {
	width: 0;
	height: 0;
	background: none;
	border: 0;
}
.gz_bg .list dt {
	font-size: 0.26rem;
	line-height: 0.5rem;
}

.gz_bg .list dd {
	font-size: 0.24rem;
	line-height: 0.4rem;
	text-align: justify;
}

.close4 {
	display: block;
	text-align: center;
	width: .5rem;
	height: .5rem;
	line-height: 0.44rem;
	position: absolute;
	font-size: 0.34rem;
	color: white;
	border: 1px solid white;
	border-radius: 50%;
	left: 6.4rem;
	top: 1rem;
}

.fx_bg {
	width: 95%;
	margin: auto;
	position: relative;
	overflow: hidden;
	z-index: 10;
	/*margin-top: -0.5rem;*/
}

.card_bg {
	width: 100%;
	position: relative;
	overflow: hidden;
}

.card_bg img {
	z-index: 5;
	display: block;
	width: 6.5rem;
	height: 11.4rem;
	margin: 0.2rem auto;
}

.fx_bg ul {
	width: 100%;
	font-size: 0.32rem;
	line-height: 0.5rem;
	margin: 0.3rem auto;
	overflow: hidden;
	position: absolute;
	z-index: 151;
}

.fx_title {
	font-size: 0.36rem;
	font-weight: normal;
	color: white;
	height: 1rem;
	line-height: 1rem;
	position: relative;
	margin-top: -1.2rem;
	margin-bottom: -0.3rem;
}

.fx_word {
	position: absolute;
	top: 3.2rem;
	/*left: 0.5rem;*/
	font-size: 0.12rem;
	text-align: left;
	font-weight: 700;
	text-align: center;
}

.top img {
	width: 2.3rem;
	height: 2.2rem;
	position: absolute;
	z-index: 100;
	top: 5.3rem;
	left: 2.5rem;
}

.fx_word li {
	font-size: 0.25rem;
}

.pitch3 {
	width: 100%;
	position: relative;
	top: 13%;
}

.pitch {
	width: 83%;
	height: 45%;
	overflow-y: scroll;
	position: relative;
	top: 0rem;
	left: .5rem;
}

.kuang {
	width: 6.78rem;
	height: 8.88rem;
	/*background-color: rgb(254,210,170);*/
	background: url(../img/prize_bg.png) no-repeat;
	background-size: 100% 100%;
	position: relative;
	left: .36rem;
	top: 2rem;
	text-align: center;
	padding-top: 2rem;
}

.close5 {
	display: block;
	width: 0.6rem;
	height: 0.6rem;
	line-height: 0.5rem;
	position: absolute;
	font-size: 0.45rem;
	font-weight: 900;
	color: black;
	top: 1.3rem;
	left: 6.4rem;
	color: white;
	border-radius: 50%;
	border: 2px solid white;
}

.close2 {
	border: 2px solid white;
	width: .6rem;
	height: .6rem;
	color: white;
	position: absolute;
	right: 11%;
	top: 8%;
	z-index: 100;
	border-radius: 50%;
	font-size: .5rem;
	line-height: .55rem;
	text-align: center;
}

.close3 {
	display: block;
	width: 0.8rem;
	height: 0.8rem;
	line-height: 0.8rem;
	position: absolute;
	font-size: 0.45rem;
	font-weight: 900;
	color: rgb(111, 118, 135);
	top: 2.1rem;
	left: 5.9rem;
	border: none;
}

.ph_bg {
	width: 100%;
	height: 63%;
	overflow: hidden;
	margin: 10% auto 0;
}

.ph_out {
	width: 90%;
	height: 40%;
	margin: auto;
	overflow: hidden;
	position: relative;
}

.ph_out ul {
	width: 100%;
	height: 100%;
	overflow: auto;
	margin-left: -.23rem;
}

.ph_out ul::-webkit-scrollbar {
	width: 0;
	height: 0;
	background: none;
	border: 0;
}

.ph_out ul li {
	display: block;
	overflow: hidden;
	position: relative;
}

.ph_out ul li span {
	display: block;
	width: 25%;
	font-size: 0.24rem;
	margin-left: 1rem;
	height: .4rem;
	line-height: .4rem;
	float: left;
	color: white;
}

.jindan_qian {
	width: 3.43rem;
	height: 4.01rem;
	/*margin-bottom: 4rem;*/
	margin-top: 5rem;
}

.jindan_hou {
	width: 6.31rem;
	height: 5.88rem;
	/*margin-bottom: 4rem;*/
	margin-top: 3.13rem;
	margin-right: .24rem;
}

.chuizi {
	position: absolute;
	width: 2.2rem;
	left: 3.5rem;
	top: 5.5rem;
}

.sheng1 {
	position: absolute;
	width: 1.51rem;
	top: 7.4rem;
	left: 3.9rem;
}

.jiangchi {
	color: white;
	font-size: .28rem;
	font-family: "微软雅黑", arial;
	margin-top: .6rem;
	letter-spacing: 2px;
}

.ti {
	color: white;
	font-size: .26rem;
	font-family: "微软雅黑", arial;
	margin-top: .06rem;
	letter-spacing: 1px;
}

.shout {
	text-align: left;
}

.p1,
.p2,
.p3,
.p4 {
	margin-top: .2rem;
	width: .72rem;
}

.p5 {
	width: .72rem;
}

.p1 {
	margin-left: .2rem;
}

.p2,
.p3,
.p4,
.p5 {
	margin-left: .33rem;
}

.huodong {
	font-size: .26rem;
	position: absolute;
	right: 0rem;
	top: .2rem;
	background-color: rgb(99,8,16);
	border:2px solid rgb(232,145,44);
	border-right: none;
	color: white;
	border-radius: .2rem 0 0 .2rem;
	width: 1.64rem;
	padding-left: .2rem;
	height: .45rem;
	line-height: .4rem;
	z-index: 1;
}

@-webkit-keyframes shake {
	0%,
	100% {
		-webkit-transform: translateX(0);
	}
	10%,
	30%,
	50%,
	70%,
	90% {
		-webkit-transform: translateX(-5px);
	}
	20%,
	40%,
	60%,
	80% {
		-webkit-transform: translateX(5px);
	}
}

@-moz-keyframes shake {
	0%,
	100% {
		-moz-transform: translateX(0);
	}
	10%,
	30%,
	50%,
	70%,
	90% {
		-moz-transform: translateX(-5px);
	}
	20%,
	40%,
	60%,
	80% {
		-moz-transform: translateX(5px);
	}
}

.shake {
	-webkit-animation-name: shake;
	-webkit-animation-duration: 1s;
	-moz--name: shake;
	-moz-animation-duration: 1s;
}

.mbm1{
	color: white;
	font-size: .36rem;
	font-family: "微软雅黑";
	margin-top: 3.9rem;
	font-weight: 800;
}

.mbm2{
	width: 60%;
	margin:0 auto;
	color: white;
	/*font-size: .25rem;*/
	font-size: 21%;
	margin-top: .2rem;
}


.mbm3{
	color: rgb(233,26,36);
	font-size: .36rem;
	font-family: "微软雅黑";
	margin-top: 3.6rem;
	font-weight: 800;
}


.mbm4{
	color: rgb(79,80,80);
	font-size: 25%;
	margin-top: .2rem;
	margin-bottom: .5rem;
}

.mbm5{
	color: rgb(233,26,36);
	font-size: .36rem;
	font-family: "微软雅黑";
	margin-top: 3.9rem;
	margin-bottom: .7rem;
	font-weight: 800;
}


.mbm6{
	color: rgb(79,80,80);
	font-size: 27%;
	margin-bottom: .5rem;
}

.back{
	background:url(../img/back.png) no-repeat;
	background-size:100% 100% ;
	width: 2.33rem;
	height: .75rem;
	margin:1em auto;
}

.biaoge{
	width: 4.95rem;
	height: 3.15rem;
}

.shoujidajiang{
	position: absolute;
	right: 0;
	top: 8rem;
}
@media only screen and (device-width: 320px) and (device-height: 480px) {}

@media screen and (max-width: 360px) and (min-height: 572px) and (max-height: 573px) {}

@media screen and (min-width: 350px) and (min-height: 680px) {
	.page {
		height: 100%;
	}
	.jindan_qian {
		margin-top: 6.2rem;
	}
	.jindan_hou {
		margin-top: 4.34rem;
	}
	.chuizi {
		top: 7.5rem;
	}
	.sheng1 {
		top: 9.4rem;
	}
	.jiangchi {
		margin-top: .8rem;
	}
}

@media screen and (max-width:320px){
	.inputGroup input {
    vertical-align: top;
    height: 40px;
    width: 10em;
    margin-left: -5px;
    border: solid 1px black;
    border-top-right-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
	}
	.prizeItem {
	    font-size: 0.255rem;
	    text-align: left;
	    margin: 0.15rem auto;
	    width: 65%;
	    color: white;
	}
	.prizeItem button {
    display: inline-block;
    color: red;
    background-color: rgb(255,234,183);
    width: 1.4rem;
    height: 2em;
    border-radius: 2em;
    top: -0.7em;
    left: 1em;
    position: relative;
}
}